
<div *ngIf="showProductsForCat==0">


  <h3>Search and Filter Products</h3>

  Filter Category By name :<input
    type="text"
    [(ngModel)]="searchName"
    placeholder="Search by name"
    (input)="applyFilters()"
  />



  <div class="pagination">
    <button (click)="handlePageChange(page - 1)" [disabled]="page === 0">Previous</button>
    <span>Page {{ page + 1 }} of {{ totalPages }}</span>
    <button (click)="handlePageChange(page + 1)" [disabled]="page === totalPages - 1">Next</button>
  </div>
  
  

<div class="container">
  <!-- Add or Update Category Form -->
  <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
    <div>
      <label for="name">Category Name:</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="newCategory.name"
        name="name"
        required
      />
    </div>

    <div>
      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        [(ngModel)]="newCategory.price"
        name="price"
        required
      />
    </div>

    <div>
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        [(ngModel)]="newCategory.description"
        name="description"
        required
      />
    </div>

    <button
      type="submit"
      [disabled]="!categoryForm.form.valid"
    >
      {{ isEditMode ? 'Update Category' : 'Add Category' }}
    </button>
  </form>

  <hr />

  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>{{ category.price }}</td>

        <td>
          <button
            class="btn btn-danger btn-sm me-2"
            (click)="deleteCategory(category.id)"
          >
            Delete
          </button>
          <button
            class="btn btn-info btn-sm"
            (click)="editCategory(category)"
          >
            Update
          </button>
          <button
            class="btn btn-info btn-sm"
            (click)="addProduct(category.id)"
          >
            addProduct
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



</div>


<div *ngIf="showProductsForCat==1">
<app-product></app-product>
</div>



